<product-navbar></product-navbar>
<div>  <kendo-grid  rowClick [data]="view"
            [height]="auto"
            [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
            [pageable]="true" [sortable]="true"
            [filterable]="true"
            (dataStateChange)="onStateChange($event)"
           (saveRow)="saveClick()"
            (editRow)="editClick($event)"
            (add)="addHandler($event)">
         <ng-template kendoGridToolbarTemplate>
           <button kendoGridAddCommand>Add new</button>
           <button *ngIf="isInEditingMode"
                   (click)="cancelHandler()"
                   class="k-button k-primary">
             Cancel
           </button>
         </ng-template>
  <kendo-grid-column field="Key" title="Ключ" width="auto">
  </kendo-grid-column>
  <kendo-grid-column field="Value" title="Наименования" width="auto">
  </kendo-grid-column>
  <kendo-grid-command-column title="Действие" width="200">
    <ng-template kendoGridCellTemplate>
      <button kendoGridEditCommand class="k-default"><span class="fa fa-edit"></span></button>
      <button kendoGridRemoveCommand class="k-default"><span class="fa fa-trash"></span></button>
    </ng-template>

  </kendo-grid-command-column>
</kendo-grid>
</div>