<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group">
  
    <a routerLink="dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;Главная
    </a>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('usersettings')">
        <span><i class="fa fa-users"></i>&nbsp;Управление пользователями</span>
      </a>

      <div class="nested" [class.expand]="showMenu === 'usersettings'">
        <ul class="submenu">
          <li>
            <a routerLink="appusers" [routerLinkActive]="['router-link-active']"><span>Пользователи</span></a>
          </li>
          <li>
            <a routerLink="appusers"><span>Роли</span></a>
          </li>
        </ul>
      </div>


    </div>

  
    <!--<a [routerLink]="['grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-wrench"></i>&nbsp;Пример таблица
    </a>-->
 
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('manuals')">
        <span><i class="fa fa-plus"></i>&nbsp;Справочники</span>
      </a>
   
        <div class="nested" [class.expand]="showMenu === 'manuals'">
          <ul class="submenu">
            <li>
              <a [routerLink]="['productCategory']" [routerLinkActive]="['router-link-active']"><span>{{ 'Категория товаров' | translate }}</span></a>
            </li>
            <li>
              <a [routerLink]="['storage']" [routerLinkActive]="['router-link-active']"><span>{{ 'Хранилище' | translate }}</span></a>
            </li>
            
          </ul>
        </div>
 

    </div>
    <a routerLink="product" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-umbrella"></i>&nbsp;{{ 'Товары' | translate }}
    </a>
  
  </div>
</nav>
