<section [@routerTransition]>
  <product-navbar></product-navbar>

  
    <kendo-grid #gridProduct [data]="gridData|async"
                [height]="auto"
                [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
                [pageable]="true" [sortable]="true"
                [filterable]="true"
                [selectable]="true"
                [rowClass]="rowCallback"
                (dataStateChange)="onStateChange($event)"
                (edit)="editHandler($event)" (remove)="removeHandler($event)"
                (add)="addHandler($event)"
                (selectionChange)="gridProductSelectionChange(gridProduct, $event)">
      <ng-template kendoGridToolbarTemplate>
        <button kendoGridAddCommand>Добавить</button>
      </ng-template>
      <kendo-grid-column>
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <img width="100" src="{{baseUrl}}/ReturnFile/{{dataItem?dataItem.Id:0}}" />
        </ng-template>
      </kendo-grid-column>
   
      <kendo-grid-column field="Name" title="Имя" width="auto">
      </kendo-grid-column>
      <kendo-grid-column field="ProductCategoryId" title="Категория" width="auto">
      </kendo-grid-column>
     
      <kendo-grid-command-column title="Действие" width="200">
        <ng-template kendoGridCellTemplate>
          <button kendoGridEditCommand class="k-default"><span class="fa fa-edit"></span></button>
          <button kendoGridRemoveCommand class="k-default"><span class="fa fa-trash"></span></button>
        </ng-template>

      </kendo-grid-command-column>

    </kendo-grid>
    <kendo-grid-edit-form-product [model]="editDataItem" [isNew]="isNew"
                                  (save)="saveHandler($event)"
                                  (cancel)="cancelHandler()">
    </kendo-grid-edit-form-product>
  <div class="card" [hidden]="!selectedItem" *ngIf="selectedItem">
    <div class="card-header">
      <b>{{selectedItem?selectedItem.Name:''}}</b>
    </div>
    <div class="card-block">
      <div id="accordion" role="tablist" aria-multiselectable="true" >
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Свойство товаров
              </a>
            </h5>
          </div>

          <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Картинки
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
           
            <div class="card-block">
              <h3>Основные</h3>
              <div class="row">
                <div class="col-xl-3">
                  <img width="100" src="{{baseUrl}}/ReturnFile/{{selectedItem?selectedItem.Id:0}}" />
                </div>
                <div class="col-xl-9">
                  <p-fileUpload name="file" url="{{baseUrl}}/UploadFiles/UploadFiles/{{selectedItem?selectedItem.Id:0}}">


                  </p-fileUpload>
                </div>
              </div>
              <h3>Допольнительные</h3>
              <p-fileUpload name="file" url="{{baseUrl}}/UploadFiles/UploadFiles/{{selectedItem?selectedItem.Id:0}}?isGeneral=false" (onBeforeSend)="onBeforeSend($event)" auto="auto" maxFileSize="1000000" onUpload="onUpload($event)">  </p-fileUpload>
              <div *ngFor="let item of selectedItem.ProductImages">
                <img width="100" src="{{baseUrl}}/ReturnFile/0/{{item.Name}}" />
              </div>
             
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
 

</section>
