
<div class="login-page" [@routerTransition]>
  <div class="row">
    <div class="col-md-4 push-md-4">
      <img src="assets/images/logo.png" width="150px" class="user-avatar" />
      <h1>Администратор</h1>
      <form #f="ngForm" novalidate (ngSubmit)="registerUser(f)">


        <div class="form-group">
           <input id="first-name" type="text" required name="firstName" class="form-control input-underline input-lg" placeholder="Your first name" tmFocus ngModel>
        </div>

        <div class="form-group">
                <input id="last-name" type="text" required name="lastName" class="form-control input-underline input-lg" placeholder="Your last name" ngModel>
        </div>

        <div class="form-group">
           <input id="email" type="text" required name="email" validateEmail class="form-control input-underline input-lg" placeholder="Email" ngModel #email="ngModel">
          <small [hidden]="email.valid || (email.pristine && !submitted)" class="text-danger">Please enter a valid email</small>
        </div>

        <div class="form-group">
           <input id="password" type="password" required name="password" class="form-control input-underline input-lg" placeholder="Password" ngModel>
        </div>

        <div class="form-group">
           <input id="location" type="text" required name="location" class="form-control input-underline input-lg" placeholder="Location" ngModel>
        </div>

        <div class="form-group">
          <button type="submit" class="btn rounded-btn" [disabled]="f.invalid || isRequesting">Sign Up</button>
          &nbsp;
          <a class="btn rounded-btn" [routerLink]="['/login']">Login</a>
          <app-spinner [isRunning]="isRequesting"></app-spinner>
        </div>

        <div *ngIf="errors" class="alert alert-danger" role="alert">
          <strong>Oops!</strong> {{errors}}
        </div>

      </form>
      </div>
    </div>
  </div>