  <!-- Footer-->
<footer class="main-footer">
  <div class="page-links">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <h3>Site Map</h3>
          <ul class="list-unstyled">
            <li> <a href="#">Home</a></li>
            <li> <a href="#">About Us</a></li>
            <li> <a href="#">Categories</a></li>
            <li> <a href="#">Privacy policy</a></li>
            <li> <a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-sm-6">
          <h3>Our Services</h3>
          <ul class="list-unstyled">
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-sm-6">
          <h3>Extras</h3>
          <ul class="list-unstyled">
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
            <li> <a href="#">Footer Link</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-sm-6 details js-pull">
          <ul class="list-unstyled">
            <li class="d-flex align-items-center">
              <div class="icon"><i class="icon-delivery-truck"></i></div>
              <div class="text">
                <h3>Free Shipping Worldwide</h3>
                <p>On orders over $200</p>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="icon"><i class="icon-dollar-symbol"></i></div>
              <div class="text">
                <h3>30 days money back</h3>
                <p>Money back guarantee</p>
              </div>
            </li>
            <li class="d-flex align-items-center">
              <div class="icon"><i class="icon-phone-call"></i></div>
              <div class="text">
                <h3>Phone: 123-456-789</h3>
                <p>Contact with us</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>&copy; 2017 <span>Ideal Information Systems. </span>All rights reserved.</p>
        </div>
        <div class="col-sm-6 text-right">
          <p>Template by <a href="http://idealsys.uz/" target="_blank">B Sunnatov</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>