<kendo-dropdownlist [data]="data"
                   [textField]="'text'"
                    [valueField]="'id'"
                    [filterable]="true"
                    (valueChange)="valueChange($event)"
                    (selectionChange)="selectionChange($event)"
                    (filterChange)="filterChange($event)"
                    (open)="open()"
                    (close)="close()"
                    (focus)="focus()"
                    (blur)="blur()">
</kendo-dropdownlist>