    <!-- Top Bar -->
<div class="top-bar hidden-xs-down">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        <ul class="list-inline d-flex flex-row">
          <li class="list-inline-item">
            <div class="dropdown">
              <button id="currency" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">USD</button>
              <div aria-labelledby="currency" class="dropdown-menu"><a href="#" class="dropdown-item">EUR</a><a href="#" class="dropdown-item">EGP</a><a href="#" class="dropdown-item">AUD</a></div>
            </div>
          </li>
          <li class="list-inline-item">
            <div class="dropdown">
              <button id="lang" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">English</button>
              <div aria-labelledby="lang" class="dropdown-menu"><a href="#" class="dropdown-item">French</a><a href="#" class="dropdown-item">Spanish</a><a href="#" class="dropdown-item">Arabic</a></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-8 col-md-9 text-right account-details">
        <ul class="list-inline">
          <li class="list-inline-item"> <a href="#">My Account</a></li>
          <li class="list-inline-item"><a href="#">Order History</a></li>
          <li class="list-inline-item"><a href="#">Login</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>