   <!-- Navbar -->
<nav class="navbar navbar-toggleable-sm">
  <div class="container">
    <a href="/" class="navbar-brand"> <img src="../../../assets/images/logo_1.jpg" alt="logo" height="60px" /></a>
    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto d-md-flex flex-md-row align-items-md-center">
        <li class="nav-item active">
          <a id="navbarDropdown1" data-target="#" href="index-2.html" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">Home<i class="fa fa-caret-down"></i></a>
          <ul aria-labelledby="navbarDropdown1" class="dropdown-menu">
            <li><a href="index-2.html" class="dropdown-item">Homepage 1</a></li>
            <li><a href="index2.html" class="dropdown-item">Homepage 2</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="category.html" class="nav-link">Category</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item">
          <a id="navbarDropdown2" data-target="#" href="http://example.com/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link">Template content<i class="fa fa-caret-down"></i></a>
          <ul aria-labelledby="navbarDropdown2" class="dropdown-menu">
            <li><a href="index-2.html" class="dropdown-item">Homepage 1</a></li>
            <li><a href="index2.html" class="dropdown-item">Homepage 2</a></li>
            <li><a href="category.html" class="dropdown-item">Category</a></li>
            <li><a href="detail.html" class="dropdown-item">Product</a></li>
            <li><a href="cart.html" class="dropdown-item">Shopping cart</a></li>
            <li class="dropdown-divider"></li>
            <li><a href="blog.html" class="dropdown-item">Blog</a></li>
            <li><a href="post.html" class="dropdown-item">Blog Post</a></li>
            <li><a href="text.html" class="dropdown-item">Text page</a></li>
            <li><a href="contact.html" class="dropdown-item">Contact page</a></li>
          </ul>
        </li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact Us</a></li>
        <li class="nav-item">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a id="search" href="#" class="nav-link">
                <div class="icon search"><i class="icon-magnifying-glass"></i></div>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="cart.html" class="nav-link">
                <div class="icon cart"><i class="icon-cart"></i></div><span class="hidden-md"><span class="no">2</span>items</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
