<section [@routerTransition]>

  <kendo-grid [data]="gridData|async"
              [height]="auto"
              [pageSize]="gridState.take" [skip]="gridState.skip" [sort]="gridState.sort"
              [pageable]="true" [sortable]="true"
              [filterable]="false"
              [rowClass]="rowCallback"
              (dataStateChange)="onStateChange($event)"
              (edit)="editHandler($event)" (remove)="removeHandler($event)"
              (add)="addHandler($event)">
    <ng-template kendoGridToolbarTemplate>
      <button kendoGridAddCommand>+</button>
    </ng-template>
    <kendo-grid-column field="Name" title="Имя" width="auto">
    </kendo-grid-column>
    <kendo-grid-column field="Name" title="кол-во свойство" width="auto">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <button  class="k-default" (click)="openPropsModal(dataItem)"><span class="btn-link">{{dataItem.PropertyInProductCategories.length}} </span></button>
          </ng-template>
    </kendo-grid-column>
   
    <kendo-grid-command-column title="Действие" width="200">
      <ng-template kendoGridCellTemplate>
        <button kendoGridEditCommand class="k-default"><span class="fa fa-edit"></span></button>
        <button kendoGridRemoveCommand class="k-default"><span class="fa fa-trash"></span></button>
      </ng-template>
     
    </kendo-grid-command-column>
    <div *kendoGridDetailTemplate="let dataItem">
      <app-product-category [parentItem]="dataItem"></app-product-category>
    </div>
  </kendo-grid>
  <kendo-grid-edit-form [model]="editDataItem" [isNew]="isNew"
                        (save)="saveHandler($event)"
                        (cancel)="cancelHandler()">
  </kendo-grid-edit-form>
</section>
<div class="row">
  <div class="col-sm-12">
    <div class="card mb-3">
      <div class="card-header">Modal</div>
      <!-- Large modal -->
      <div class="card-block">
        <button class="btn btn-primary" (click)="open(content)">Large modal</button>
        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-header">
            <h4 class="modal-title">Modal title</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
         
            <app-dynamic-property></app-dynamic-property>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
<div>{{closeResult}}</div>
